<!-- <p>shopping works!</p> -->



 
 <section  class=" pt-3  bg-slate-200/40 w-screen h-12   flex justify-center flex-row gap-[50px] fixed top-[4px] z-10">
    
  <div class="  flex justify-center ml-44 ">
      
      <nav class="grid-flow-col grid gap-24 font-sans font-bold " >           
          <a  >MEN</a>
          <a >WOMEN</a>
        
          <a >NEW ARRIVALS</a>
          <input type="text" placeholder="search product" class="w-[220px] h-[40px]  border-b-[1px] border-black  pl-5  mt-[-12px] mb-1 bg-slate-100/25">
         
      </nav>
  </div>
  <div class="flex flex-row gap-2 w-[100px] h-[30px] bg-slate-100 rounded-xl mt-[-6px] pt-[6px] justify-center" routerLink="/cart">
      <p class="font-semibold">Cart</p>
      <button  class="mb-2 flex flex-row">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
            </svg>{{tottalItem}}
            
      </button>
     
  </div>

  <div class="ml-16" routerLink="/login">
      <button  class="w-[80px] h-[35px] bg-slate-200/70 rounded-2xl text-black font-sans mt-[-10px] mb-3" >Sign-up</button>
  </div>

</section> 

<section class="mb-[250px]">
  <div class="">
      <!-- <img alt="Campaign image" tag="div" imagetype="TEASER_IMAGE" src="../../assets/Picsart_23-08-03_15-51-27-017.jpg"class="relative left-[240px] top-[100px] w-[1450px] h-[650px] "> -->
      <div class="w-[1905px] h-[650px] mt-1 ml-2  shadow-2xl shadow-black relative ">
      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide><img src="../../assets/dv-one-men-homepage-20230811-desktop.avif" alt="" class="h-[820px] rounded-sm"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/hero1-august11-2023-desktop.avif" alt="" class="h-[820px] rounded-sm"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/Brown Minimalist Fashion Sale Banner.jpg" alt=""  class="h-[820px] rounded-sm" ></ng-template> 
        
       
       
      </owl-carousel-o>
     
      <button routerLink="/product" class="w-[200px] h-[40px]  bg-white font-semibold text-black absolute top-[650px] left-[-10px] z-50 mx-[1700px]  ">DISCOVER MORE</button>


      </div>

 



  </div>
 
</section>
<hr class="w-[1910px] relative top-[-36px] mt-6 ">




<app-products></app-products>
<router-outlet></router-outlet>


 